@import '../../style/color.scss';

.listItem-wrapper {
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-bottom: 20px;
}
.listItem-front {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr;
  gap: 14px;
}
.category-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 30px;
  border-radius: 999px;
  background-color: $color-primary;

  color: white;
}
