@import '../../style/color.scss';

.listItem-wrapper {
  font-family: 'Noto Sans';
  width: 100%;
}
.list-date-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px solid $color-line;
  padding: 32px 0 20px 0;
  box-sizing: border-box;

  & .date {
    margin-right: 12px;
  }
  & .day {
    color: $color-body;
  }
  & .income {
    color: $color-body;
    margin-right: 12px;
  }
  & .expenditure {
    color: $color-body;
  }
}
.list-history-wrapper {
  width: 100%;
  text-align: end;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid $color-line;
  padding: 20px 12px 20px 12px;
  box-sizing: border-box;
}
.listItem-front {
  text-align: start;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr;
  gap: 14px;
}
.listItem-paidType {
  text-align: center;
  color: $color-body;
}
.category-tag {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 30px;
  border-radius: 999px;

  color: white;
}
