$color-title-active: #1e2222;
$color-body: #626666;
$color-label: #8d9393;
$color-placeholder: #c1c5c5;
$color-line: #ccd3d3;
$color-background: #f5f5f5;
$color-off-white: #fcfcfc;
$color-primary: #2ac1bc;
$color-error: #f45452;
