$color-title-active: #1e2222;
$color-body: #626666;
$color-label: #8d9393;
$color-placeholder: #c1c5c5;
$color-line: #ccd3d3;
$color-background: #f5f5f5;
$color-off-white: #fcfcfc;
$color-primary: #2ac1bc;
$color-error: #f45452;
$color-category-health: #6ed5eb;
$color-category-shopping: #4cb8b8;
$color-category-traffic: #94d3cc;
$color-category-food: #4ca1de;
$color-category-culture: #d092e2;
$color-category-undefined: #817dce;
$color-category-life: #4a6cc3;
$color-category-salary: #b9d58c;
$color-category-allowance: #e6d267;
$color-category-etc: #e2b765;
