@import './color.scss';
@import '//fonts.googleapis.com/earlyaccess/notosanskr.css';
@import './normalize.scss';

@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  .page-wrapper {
    width: 904px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 200px;
  }
}
